.container {
  > div:last-of-type {
    display: none;
  }

  > div:first-of-type {
    display: flex;
    gap: 3.25rem;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 5rem;

    nav {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
  
      h1 {
        max-width: 65vw;
        font-family: var(--title);
        color: var(--black);
        font-size: var(--xl);
        font-weight: 600;
        line-height: normal;
      }
  
      ul {
        width: fit-content;
        overflow: hidden;
        border-radius: 32px;
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        background-color: var(--blue);
  
        li {
          font-family: var(--title);
          font-size: var(--sm);
          font-weight: 600;
          line-height: normal;
  
          a {
            border-radius: 32px;
            display: flex;
            color: #FFF;
            text-decoration: none;
            
            &:focus-visible {
              outline: none;
              text-decoration: underline;
              text-underline-offset: 3px;
              filter: brightness(0.93);
            }
  
            &[role="actived"] {
              background-color: var(--light-blue);
              padding: 0.5rem 2.1rem;
            }
  
            &:not([role="actived"]) {
              padding: 0.5rem 1.4rem;
            }
  
            &:hover {
              text-decoration: underline;
              text-underline-offset: 3px;
            }
          }
  
          &:first-of-type a {
            padding-left: 2.1rem;
            &:not([role="actived"]) {
              padding-right: 0.7rem;
            }
          }
  
          &:last-of-type a {
            padding-right: 2.1rem;
            &:not([role="actived"]) {
              padding-left: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .container {
    > div:first-of-type {
      display: none;
    }
  
    > div:last-of-type {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem 0rem;
      padding-bottom: 0;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.25rem;
        padding: 0rem 3rem;

        h1 {
          font-family: var(--title);
          color: var(--black);
          font-size: var(--lg);
          font-weight: 600;
          line-height: normal;
        }  
      }

      nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.6rem;
        padding: 0;

        ul {
          width: 100%;
          overflow: auto;
          border-radius: 0;
          display: flex;
          list-style: none;
          justify-content: flex-start;
          align-items: center;
          background-color: var(--blue);

          &::-webkit-scrollbar {
            height: 8px;
          }

          &::-webkit-scrollbar-track {
            background: var(--dark-blue);
          }

          &::-webkit-scrollbar-thumb {
            background: var(--light-blue);
          }

          &::-webkit-scrollbar-thumb:hover {
            background: var(--blue);
          }
              
          li {
            font-family: var(--title);
            font-size: var(--xs);
            font-weight: 600;
            line-height: normal;
    
            border-radius: 0px;
    
            a {
              border-radius: 0px;
              display: flex;
              color: #FFF;
              text-decoration: none;
              padding: 0.5rem 0.8rem;

              &[role="actived"] {
                background-color: var(--light-blue);
              }
    
              &:hover {
                text-decoration: underline;
                text-underline-offset: 3px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    > div:last-of-type {
      padding-top: 1.5rem;

      > div {
        gap: 0;
        padding: 0rem 2.5rem;

        h1 {
          font-size: var(--sm);
          z-index: 2;
        }  
      }

      img {
        position: absolute;
        left: -32px;
        top: 8px;
        z-index: 1;
        opacity: .3;
      }

      ul {
        z-index: 2;

        li {
          font-size: var(--xs);
        }
      }
    }
  }
}

@media (min-width: 1540px) {
  .container {
    > div:first-of-type {
      nav {
        h1 {
          max-width: 80vw;
          font-size: var(--2xl);
        }

        ul {
          li {
            font-size: var(--lg);
          }
        }
      }
    }
  }
}

@media (min-width: 2000px) {
  .container {
    > div:first-of-type {
      nav {
        h1 {
          max-width: 80vw;
          font-size: var(--3xl);
        }

        ul {
          li {
            font-size: var(--xl);
          }
        }
      }
    }
  }
}