.container {
  color: var(--black);
  text-decoration: none;
  padding: 0.7rem 1.2rem;
  background-color: var(--gray);
  font-family: var(--title);
  font-weight: 600;
  border-radius: 8px;
  font-size: var(--xs);

  &[role="blue"] {
    background-color: var(--light-blue);
  }

  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

@media (min-width: 1540px) {
  .container {
    font-size: var(--md);
  }
}