.container {
  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 0 1.5rem 0;
  }
}

@media (max-width: 950px) {
  .container {
    background-color: var(--light-blue);

    section {
      padding: 1.5rem 0;
    }
  }
}