:root {
  --blue: #199ed0;
  --dark-blue: #1478a0;
  --light-blue: #64c3e3;

  --white: #f8f8f8;
  --gray: #eaeaea;
  --black: #333333;

  --maxl: 3rem;
  --3xl: 2.5rem;
  --2xl: 2.25rem;
  --xl: 2rem;
  --lg: 1.8rem;
  --md: 1.4rem;
  --sm: 1.2rem;
  --xs: 1rem;

  font-size: 16px;
}

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--white);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: var(--body);
}

main {
  overflow-x: hidden;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

@media (max-width: 950px) {
  :root {
    --3xl: 1.8rem;
    --2xl: 1.6rem;
    --xl: 1.4rem;
    --lg: 1.3rem;
    --md: 1.25rem;
    --sm: 1.15rem;
    --xs: 1rem;

    font-size: 16px;
  }
}