.container {
  background-color: var(--white);
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > h2:first-of-type {
    color: var(--dark-blue);
    font-size: var(--md);
  }

  > div[role="button-group"] {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    button, a {
      font-size: var(--xs);
    }
  }
}

.container_in_home {
  > div[role="button-group"] {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

@media (min-width: 1540px) {
  .container_in_home {
    gap: 2rem;
  }
}

@media (max-width: 950px) {
  .container {
    padding: 1.5rem 2.5rem;
    gap: 1rem;

    > div[role="button-group"] {
      button, a {
        font-size: var(--xs);
      }
    }
  }
}
