.container {
  background: var(--gray);
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;

  p, address {
    color: var(--black);
    font-family: var(--body);
    text-transform: uppercase;
    font-size: clamp(1.2rem, 1.6vw, 1.625rem);
    font-weight: 400;
    line-height: normal;
  }

  a {
    color: var(--blue);
    text-decoration: none;
    text-underline-offset: 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 950px) {
  .container {
    padding: 2rem 2.5rem;
  }
}